<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card bg-primary border-light shadow-soft">
                <div class="card-header px-3">
                    <img src="https://media.easemytrip.com/media/Blog/India/637294656792564411/637294656792564411Sv2FAa.png" class="card-img-top rounded-top" alt="Themesberg office">
                </div>
                
                <div class="card-body">
                    <h3 class="h5 card-title Lato500 fs-18">We partnered up with Google</h3>
                    <p class="card-text Lato500 fs-15">Yes, there are waterfalls near Jaipur, even though, almost... <span class="t-orange"> Read more</span></p>
                    <div class="icon-tertiary Lato500 fs-13">By Jatin Chhabra from Rajputana Cabs </div>
                    <div class="Lato500 fs-13 t-orange">October 9th, 2022</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mt-3">
            <div class="card bg-primary border-light shadow-soft">
                <img src="https://media.easemytrip.com/media/Blog/India/637294656792564411/637294656792564411Sv2FAa.png" class="card-img-top rounded-top" alt="Themesberg office">
                <div class="card-body">
                    <h3 class="h5 card-title Lato500 fs-18">We partnered up with Google</h3>
                    <p class="card-text Lato500 fs-15">Yes, there are waterfalls near Jaipur, even though, almost... <span class="t-orange"> Read more</span></p>
                    <div class="icon-tertiary Lato500 fs-13">By Jatin Chhabra from Rajputana Cabs </div>
                    <div class="Lato500 fs-13 t-orange">October 9th, 2022</div>
                </div>
            </div>
        </div>
    </div>
</div>