
<div class="ion-page" id="main-content">
  <app-header title="Home"></app-header>
  <ion-content>
    <div class="main-container">

      <div class="head">
        <div class="img">
          <img src="assets/images/today.png" alt="">
        </div>
        <div class="today">
          <p>Where Do you want to go today?</p>
        </div>
        <div class="search">
          <div class="searchbar">
            <i class="ri-search-line"></i>
            <input type="text" placeholder="Choose Location">
          </div>
        </div>
      </div>

      <div class="booking">

        <div class="book">
          <!-- taxi booking -->
          <button class="btn btn-primary text-dark mr-2 mb-2" type="button" routerLink="/taxi-booking">
            <img src="assets/images/taxi.png" alt="">
            <p>Book a Taxi</p>
          </button>

          <!-- rent a car -->
          <button class="btn btn-primary text-dark mr-2 mb-2" type="button" routerLink="/renting">
            <img src="assets/images/rent.png" alt="">
            <p>Rent a Car</p>
          </button>

          <!-- outstation -->
          <button class="btn btn-primary text-dark mr-2 mb-2" type="button" routerLink="/outstation">
            <img src="assets/images/outstation.png" alt="">
            <p>Outstation</p>
          </button>
        </div>

        <div class="book-tour">
          <button class="btn btn-primary text-dark mr-2 mb-2" type="button">
            <img src="assets/images/tour-1.png" alt="">
            <span>Book a Tour Package</span>
            <img src="assets/images/tour-2.png" alt="">
          </button>
        </div>
      </div>

      <div class="guide-tour">
        <!-- <div class="head">
              <div class="head1"></div>
              <img src="assets/icons/right-leftFlower.svg" alt="">
          </div> -->
        <div class="head">
          <div class="top-left"><img src="assets/images/LeftTopFlower.png" alt=""></div>
          <div class="head1"></div>
          <div class="top-right"><img src="assets/images/RightTopFlower.png" alt=""></div>
        </div>
        <div class="content">
          <div class="img"><img src="assets/images/camel.png" alt=""></div>
          <div class="guide">
            <h3>Hire tour guide</h3>
            <p>Hire our taxi in Jaipur for Airport pick/drop, attend meeting or wedding at best taxi fare, starting at
              Rs 10/km.</p>
            <button class="btn btn-primary text-dark mr-2 mb-2" type="button">View Details</button>
          </div>
        </div>
        <div class="footer">
          <img src="assets/images/LeftFlower.png" alt="">
          <img src="assets/images/RightFlower.png" alt="">
        </div>
      </div>

      <div class="travel-agency">
        <div class="travel">
          <div class="info">
            <h3>Jaipur travel agency</h3>
            <p>For travel agencies planning for tie-ups for transportation, sightseeing tours & complete MICE.</p>
            <span>View Details</span>
          </div>
          <div class="img">
            <img src="assets/icons/car.svg" alt="">
          </div>
        </div>
        <hr>
        <div class="tour-packages" routerLink="/tours-packages">
          <h3>Checkout our Tour Packages</h3>
          <div class="img"><img src="assets/icons/tours-packages.svg" alt=""></div>
        </div>
        <div class="book">Book the Tour</div>
      </div>

      <div class="bike">
        <img src="assets/images/bike.png" alt="">
        <div class="content">
          <p>We now offer bikes on rent in Jaipur starting at Rs 125 a day, and Rs 500 a day for bikes like Royal
            Enfield Classic. View all details by clicking the link below.</p>
        </div>
        <button class="btn btn-primary text-dark mr-2 mb-2" type="button">Check here</button>
      </div>







      <div class="sixth">
        <div class="img-box uk-animation-slide-right">
          <img src="/assets/raj.svg" alt="">
          <p>Rajasthan</p>
        </div>
        <div class="img-box uk-animation-slide-right">
          <img src="/assets/del.svg" alt="">
          <p>Delhi</p>
        </div>
        <div class="img-box uk-animation-slide-right">
          <img src="/assets/guj.svg" alt="">
          <p>Gujrat</p>
        </div>
        <div class="img-box uk-animation-slide-right">
          <img src="/assets/pun.svg" alt="">
          <p>Punjab</p>
        </div>
      </div>
      <div class="seventh">
        <div class="rbox">
          <h2>Contact Us</h2>
          <ion-input placeholder="Full Name" class="custom" style="margin-bottom: 2px;"></ion-input>
          <ion-input placeholder="Email" class="custom" style="margin-bottom: 2px;"></ion-input>
          <ion-input placeholder="Phone Number" class="custom" style="margin-bottom: 2px;"></ion-input>
          <ion-textarea class="custom-textarea" placeholder="Message"></ion-textarea>
          <div class="btnss">
            <ion-button color="primary-contrast" routerLink="/review-page/review">
              <span>Submit</span>
            </ion-button>
          </div>
        </div>
      </div>
      <div class="eighth">
        <h2>Reviews</h2>
        <div class="txtbox">
          <p>Sightseeing Tours, tempo, Bus Rental and Rajasthan Tour Taxi which starts from all cities of Rajasthan
          </p>
          <span routerLink="/review-page/review">See all reviews</span>
          <img src="/assets/face.svg" alt="">
        </div>
      </div>
      <div class="fifth">
        <div class="sbox uk-animation-slide-left">
          <div class="leftt">
            <h3 class="uk-animation-slide-fade">View our blogs</h3>
            <p class="uk-animation-fade">Want to more about the tourist attractions of Jaipur or Udaipur, and all the
              famous forts & palaces of
              Rajasthan?
              Then have a look at our Blog section!
            </p>
            <ion-button color="primary-contrast" routerLink="/blog" class="uk-animation-slide-top">
              <span>View our Blog</span>
            </ion-button>
          </div>
          <div class="rightt">
            <img src="/assets/blog.svg" alt="" style="transform: translateX(10%);" class="uk-animation-fade">
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</div>