<div class="main-container">
  <div class="header">
    <div class="left">
    <img src="assets/img/LeftLogo.svg">
    </div>
    
    <div class="center">
      <img src="assets/img/CenterLogo.svg">
    </div>
    
    <div class="right">
      <img src="assets/img/RightLogo.svg">
    </div>
  </div>

  <div class="uk-card uk-card-default uk-card-body uk-animation-slide-bottom-medium">
  <div class="footer">
      <form [formGroup]="loginForm">
        <thead>
          <h1>Forgot Password</h1>
        </thead>
        <div>
          <p>Enter your email for the verification process <br>
             We will send 4 digit code to your email</p>
        </div>

        <tbody>
          <ion-item>
            <ion-input type="email" formControlName="email" class="custom" placeholder="  Email"></ion-input>
          </ion-item>
  
        </tbody>
      
      </form>
      <!-- <div class="forget">
        <p>Didn't get a code?</p>
        <p style="color: orange;text-decoration: underline;" routerLink="/registration/otp">Resend code</p>
      </div> -->

      <div class="btn">
        <ion-button fill="none" (click)="submit()" routerLink="/registration/otp">Continue</ion-button>
      </div>
  </div>
  </div>
</div>
