<div class="container align-items-center d-flex justify-content-between flex-column">
    <img src="assets/images/conatactUs.png" alt="">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card bg-primary shadow-soft text-center border-light">
                <div class="card-body">
                    <h3 class="Lato600 fs-18">Director email</h3>
                    <p class="Lato500 fs-14">Contact our Director Mr Chaturbhuj Singh via mail at rajputanacabs@gmail.com.
                        For B2B rates (travel agents) contact our B2B team hear Mr Jatin Chhabra at +91 9319077085, or
                        drop an email at above email id. And if you are interested in adding your taxi with us, contact
                        us at +91 9828627722.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="t-orange fs-20 Lato600 text-center py-3">Have Questions?</div>
    <div class="accordion shadow-soft rounded" id="accordionExample1">
        <div class="card card-sm card-body bg-primary border-light mb-0">
            <a href="#panel-1" data-target="#panel-1" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                <span class="fs-14 Lato500 mb-0">I want to meet you at your office, how to schedule a meeting?
                </span>
                <span class="icon"><span class="fas fa-plus"></span></span>
            </a>
            <div class="collapse" id="panel-1">
                <div class="pt-3">
                    <p class="mb-0">
                        At Themesberg, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also
                        helps them grow. We're proud to be a part of creating a more open culture and to continue building a product that supports this vision.
                    </p>
                </div>
            </div>
        </div>
        <div class="card card-sm card-body bg-primary border-light mb-0">
            <a href="#panel-2" data-target="#panel-2" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                <span class="fs-14 Lato500 mb-0">CAbout our Delhi registered travel agency

                </span>
                <span class="icon"><span class="fas fa-plus"></span></span>
            </a>
            <div class="collapse" id="panel-2">
                <div class="pt-3">
                    <p class="mb-0">
                        At Themesberg, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also
                        helps them grow. We're proud to be a part of creating a more open culture and to continue building a product that supports this vision. </p>
                </div>
            </div>
        </div>
        <div class="card card-sm card-body bg-primary border-light">
            <a href="#panel-3" data-target="#panel-3" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                <span class="fs-14 Lato500 mb-0">Licenses</span>
                <span class="icon"><span class="fas fa-plus"></span></span>
            </a>
            <div class="collapse" id="panel-3">
                <div class="pt-3">
                    <p class="mb-0">
                        At Themesberg, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also
                        helps them grow. We're proud to be a part of creating a more open culture and to continue building a product that supports this vision. </p>
                </div>
            </div>
        </div>
    </div>
</div>