<div class="main-container">
  <div class="first">
    <div class="btn">
      <ion-button><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
  </div>
    <div class="txt">
      <p>Taxi Booking</p>
    </div>
  </div>
  <div class="second">
    <div class="txt">
      <p>Available Vehicles</p>
    </div>
  </div>
  <!-- ---------------1stbox------------------------- -->


  <div class="third">
    <div class="box">
      <div class="suvimg">
      <img src="/assets/suv.svg" alt="">
    </div>
    <div class="txt">
      <h4 class="txt1">₹357 /100 km</h4>
    <h2>SUV</h2>
    <p>Gets cruise control and SmartPlay Studio for the best driving experience
    </p>
  </div>
  <div class="btn">
    <ion-button routerLink="cars"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
</div>
    </div>
  </div>

  <!-- -----------------2ndbox----------------------- -->


  <div class="third">
    <div class="box">
      <div class="sedanimg">
      <img src="/assets/sedan.svg" alt="">
    </div>
     <div class="txt12">
      <h4 class="txt1">₹357 /100 km</h4>
    <h2>Sedan</h2>
    <p>Gets cruise control and SmartPlay Studio for the best driving experience
    </p>
  </div>
  <div class="btn1">
    <ion-button><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
</div>
    </div>
  </div>
  <!-- ----------------------3rdbox--------------------- -->


  <div class="third">
    <div class="box">
      <div class="travellerimg">
      <img src="/assets/traveller.svg" alt="">
    </div>
     <div class="txt123">
      <h4 class="txt1">₹357 /100 km</h4>
    <h2>Traveller</h2>
    <p>Gets cruise control and SmartPlay Studio for the best driving experience
    </p>
  </div>
  <div class="btn2">
    <ion-button><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
</div>
    </div>
  </div>

 <!-- ----------------------4thbox--------------------- -->

  <div class="third">
    <div class="box">
      <div class="hatchbackimg">
      <img src="/assets/hatchback.svg" alt="">
    </div>
     <div class="txt123">
      <h4 class="txt1">₹357 /100 km</h4>
    <h2>Traveller</h2>
    <p>Gets cruise control and SmartPlay Studio for the best driving experience
    </p>
  </div>
  <div class="btn3">
    <ion-button><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
</div>
    </div>
  </div>
</div>
