<div class="main-container">
  <div class="first">
   <div class="btn">
      <ion-button style="    width: 40px;
      height: 40px;"><ion-icon  name="close-outline" style="width: 60px ;
        padding: 0;"></ion-icon></ion-button>
  </div>
  </div>
  <div class="second">
    <div class="txt">
      <div class="head">
      <h2>SUV</h2>
    </div>
    <div class="cont">
      <p>Checkout our complete Jaipur car rental offerings below, & feel free to contact our manager Mr Singh at +91 9983010250.
      </p>
    </div>
    </div>
  </div>
  <div class="third">
    <div class="leftbtn">
      <button><ion-icon name="arrow-back-circle-outline" style=" width: 25px; height: 25px;"></ion-icon></button>
    </div>
    <div class="imgimg">
      <img src="/assets/suv.svg" alt="">
    </div>
    <div class="rightbtn">
<button><ion-icon name="arrow-forward-circle-outline" style=" width: 25px; height: 25px;"></ion-icon></button>
    </div>
  </div>
  <div class="fourth">
    <div class="box">
      <h3>₹1200
      </h3>
      <div class="f">
        <div class="one">
        <img src="/assets/icon1.svg" alt=""><span>4 Passengers</span>
      </div>
      <div class="one">
      <img src="/assets/icon2.svg" alt=""><span>Air Conditioning</span>
    </div>
      </div>
      <div class="s">
        <div class="one">
          <img src="/assets/icon3.svg" alt=""><span>Fuel into: full to full</span>
      </div>
      <div class="one1">
        <img src="/assets/icon4.svg" alt=""><span>Free WIFI</span>
      </div>
      </div>
      <div class="t">
        
        <img src="/assets/icon5.svg" alt=""><span>Space for 3 pieces of luggage</span>
        
      </div>
      <div class="btnn">
        <button>Continue</button>
      </div>
    </div>
  </div>
</div>
