<div class="main-container">
  <div class="first">
   <div class="btn">
      <ion-button><ion-icon  slot="icon-only"  name="close-outline"></ion-icon></ion-button>
  </div>
  </div>
  <div class="second">
    <div class="txt">
    <h2>Review</h2>
  </div>
  <div class="imgg">
    <img src="/assets/suv.svg" alt="">
  </div>
  <div class="imgg1">
  <img src="/assets/stars.svg" alt="">
</div>
  </div>
  <div class="third">
    <div class="first-input">
      <div class="inputs">
      <ion-input placeholder="Name" class="custom"></ion-input>
      </div>
    </div>
    <div class="sec-input">
      <div class="inputs">
      <ion-textarea class="custom-textarea" placeholder="Write a review"></ion-textarea>
      </div>
    </div>
    <div class="txt">
      <span>0/3450</span>
    </div>
  </div>
  <div class="fourth">
    <div class="btn">
      <ion-button (click)="presentAlert()">Submit</ion-button>
    </div>
    <div class="bottom">
      <img src="/assets/graphic.svg" alt="">
    </div>
  </div>
  </div>