<div class="main-container">
  <div class="page">
    <div class="btn" routerLink="/home-main">
      <ion-button color="primary-contrast">
        <span>x</span>
      </ion-button>
    </div>
    <div class="heading">
      <h1>Outstation</h1>
      <h3>(if you want to travel out of your current state)</h3>
      <br>
      <hr color="grey" width="85%">
    </div>
    <div class="pickup">
      <h3>Enter Pickup Location</h3>
      <div class="location">
        <input type="text" placeholder="Location">
        <img src="assets/icon/dropdown.svg" alt="">
      </div>
      <div class="date">
        <h3>Date for pickup</h3>
        <div class="input">
          <input type="date" name="" id="">
          <!-- <img src="assets/icon/date.svg" alt=""> -->
          <p>at</p>
          <input type="time" name="" id="">
          <!-- <img src="assets/icon/time.svg" alt=""> -->
        </div>
      </div>
      
      <div class="assist">
        <div class="trip">
        <div class="heading">
          <h3>Journey</h3>
        </div>
        <div class="button">
          <!-- btn 1 -->
          <ion-button color="primary-contrast">
            <span>One Way</span>
          </ion-button>
          <!-- btn 2 -->
          <ion-button color="primary-contrast">
            <span>Round Trip</span>
          </ion-button>
        </div>
      </div>
        
        <div class="search" routerLink="/taxi-detailss">
          <ion-button color="primary-contrast">
            <span>Search</span>
          </ion-button>
        </div>
        <div class="footer">
          <img src="assets/img/LeftFlower.png" alt="">
          <img src="assets/img/RightFlower.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>