<ion-app>

  <ion-router-outlet></ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" (click)="home()">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="bookings" (click)="tours()">
        <ion-icon name="newspaper"></ion-icon>
        <ion-label>Bookings</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile" (click)="profile()">
        <ion-icon name="person-add"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>