<div class="main-container">
  <div class="first">
    <div class="btn">
      <ion-button class="custom">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="txt"> 
      <p>Reviews</p>
    </div>
  </div>
  <div class="sec">
    
    <div class="box">
      <p>Write a Review</p>
    </div>
  </div>
  <div class="graphics">
  <div class="l-img">
    <img src="/assets/limg.svg" alt="">
  </div>
  <div class="r-img">
    <img src="/assets/rimg.svg" alt="">
  </div>
</div>
<div class="third">
  <div class="box">
    <div class="f-line">
    <div class="dp">
      <img src="/assets/dp.svg" alt="">
    </div>
    <div class="txt">
      <p>Anjali Satpathi</p>
      <img src="/assets/ministars.svg" alt="">
    </div>
    <div class="mini-box">
      <p>Trek to juda ka taal</p>
    </div>
  </div>
  <div class="s-line">
    <p style="color: #000000; margin: 10px 0;">Full Of Adventure</p>
    <p style="color: #828282; margin:0;">This was the first time I had traveled with Rajputana cabs at Saputara. The organization specializes in adventure camps.
    </p>
  </div>
  <div class="t-line">
    <ion-icon name="trash-outline"></ion-icon>
    <span>-Posted on Jun 17, 2022</span>
  </div>
  </div>
</div>
</div>