<div class="main-container">
  <div class="header">
    <div class="btn">
      <!-- <div class="back-btn"><ion-icon name="chevron-back-outline" routerLink="/taxi-booking"></ion-icon></div> -->
      <div class="back-btn" routerLink="/home-main">
        <img src="assets/icon/back.png">
      </div>
    </div>
    <div class="txt">
      <p>Tours and Packages</p>
    </div>
  </div>
  <ion-item-divider></ion-item-divider>
  <div class="search">
    <div class="menu">
      <ion-button fill="none" color="primary-contrast">
        <span>
          <ion-icon name="menu-outline" color="primary-contrast"></ion-icon>
        </span>
      </ion-button>
    </div>
    <div class="searchbar">
      <ion-icon name="search-outline"></ion-icon>
      <input type="text">
      <ion-icon name="mic-outline"></ion-icon>
    </div>
  </div>
  <div class="image-carousel">
    <img src="assets/img/carousel.svg" alt="">
  </div>
  <ion-item-divider></ion-item-divider>
  <div class="places" routerLink="/tours">
    <h2>Recommended</h2>
    <div class="list">
      <div class="img"><img src="assets/img/mini-indiagate.png"></div>
      <div class="content">
        <span id="day">
          <p style="font-size: 10px; color: #FF9114; margin-top: 3px;">2 Days - 1 Night</p>
          <p style="font-size: 13px; color: #198024;">₹2000</p>
        </span>
        <span id="place">
          <p>Jaipur to Delhi tax</p>
        </span>
        <span id="bio">
          <p>A Journey into the nature</p>
        </span>
        <span id="stoppage">
          <p>No. of stoppage:4</p>
        </span>
      </div>
    </div>
  </div>
  <div class="places" routerLink="/tours">
    <div class="list">
      <div class="img"><img src="assets/img/mini-indiagate.png"></div>
      <div class="content">
        <span id="day">
          <p style="font-size: 10px; color: #FF9114; margin-top: 3px;">2 Days - 1 Night</p>
          <p style="font-size: 13px; color: #198024;">₹2000</p>
        </span>
        <span id="place">
          <p>Jaipur to Delhi tax</p>
        </span>
        <span id="bio">
          <p>A Journey into the nature</p>
        </span>
        <span id="stoppage">
          <p>No. of stoppage:4</p>
        </span>
      </div>
    </div>
  </div>
  <div class="places" routerLink="/tours">
    <div class="list">
      <div class="img"><img src="assets/img/mini-indiagate.png"></div>
      <div class="content">
        <span id="day">
          <p style="font-size: 10px; color: #FF9114; margin-top: 3px;">2 Days - 1 Night</p>
          <p style="font-size: 13px; color: #198024;">₹2000</p>
        </span>
        <span id="place">
          <p>Jaipur to Delhi tax</p>
        </span>
        <span id="bio">
          <p>A Journey into the nature</p>
        </span>
        <span id="stoppage">
          <p>No. of stoppage:4</p>
        </span>
      </div>
    </div>
  </div>
  <div class="places" routerLink="/tours">
    <div class="list">
      <div class="img"><img src="assets/img/mini-indiagate.png"></div>
      <div class="content">
        <span id="day">
          <p style="font-size: 10px; color: #FF9114; margin-top: 3px;">2 Days - 1 Night</p>
          <p style="font-size: 13px; color: #198024;">₹2000</p>
        </span>
        <span id="place">
          <p>Jaipur to Delhi tax</p>
        </span>
        <span id="bio">
          <p>A Journey into the nature</p>
        </span>
        <span id="stoppage">
          <p>No. of stoppage:4</p>
        </span>
      </div>
    </div>
  </div>
  <div class="places" routerLink="/tours">
    <div class="list">
      <div class="img"><img src="assets/img/mini-indiagate.png"></div>
      <div class="content">
        <span id="day">
          <p style="font-size: 10px; color: #FF9114; margin-top: 3px;">2 Days - 1 Night</p>
          <p style="font-size: 13px; color: #198024;">₹2000</p>
        </span>
        <span id="place">
          <p>Jaipur to Delhi tax</p>
        </span>
        <span id="bio">
          <p>A Journey into the nature</p>
        </span>
        <span id="stoppage">
          <p>No. of stoppage:4</p>
        </span>
      </div>
    </div>
  </div>
  <div class="places" routerLink="/tours">
    <div class="list">
      <div class="img"><img src="assets/img/mini-indiagate.png"></div>
      <div class="content">
        <span id="day">
          <p style="font-size: 10px; color: #FF9114; margin-top: 3px;">2 Days - 1 Night</p>
          <p style="font-size: 13px; color: #198024;">₹2000</p>
        </span>
        <span id="place">
          <p>Jaipur to Delhi tax</p>
        </span>
        <span id="bio">
          <p>A Journey into the nature</p>
        </span>
        <span id="stoppage">
          <p>No. of stoppage:4</p>
        </span>
      </div>
    </div>
  </div>
<div class="footer">
  <img src="assets/img/footer.svg" alt="">
</div>
</div>