<!-- <div class="head"> -->

  <div class="bgContent">
    <div class="header" >
      <div class="back-btn"><ion-icon name="chevron-back-outline" routerLink="/taxi-detailss/carss"></ion-icon></div>
    </div>
    
    <div class="menu">
      <img src="assets/img/map.png" alt="">
    </div>

  </div>

<ion-modal trigger="open-modal" [isOpen]="false" [initialBreakpoint]="currentHeight" [breakpoints]="[0.3, 0.7, 1]" #modal [backdropDismiss]="false" [backdropBreakpoint]="0.5" [showBackdrop]="false">
<ng-template>
  <!--  -->
  <div class="popup" (click)="open()">
    <div class="section-1"(click)="displaySection2()">
      <div class="header"><h1>Payment</h1></div>
      <div class="info">
        <div class="from">Ludhiana Railway Statation</div>
        <p>To</p>
        <div class="to">Ludhiana Elante mall</div>
      </div>
      <div class="coupon">
        <h2>Coupon</h2>
        <input type="text" placeholder="Eg Taxi2022">
      </div>
      
      <div class="fare">
        <h4>Fare</h4>
        <div class="details">
          <div class="taxi-fare">
            <p>Taxi Fare</p>
            <p class="price">₹2200</p>
          </div>
          <div class="tax">
            <p>Tax</p>
            <p class="price">₹20</p>
          </div>
          <div class="discount">
            <p>Coupon Discount</p>
            <p class="price">-₹1200</p>
          </div>
          <div class="totalfare">
            <p>Total Fare</p>
            <p class="price">₹1200</p>
          </div>
        </div>
      </div>
      
    </div>
  <!--  -->
  <div class="section-2" (click)="open()">
    <div class="tax-details">See Tax Details</div>

    <div class="pay">
      <h3>Pay By</h3>
      <div class="dropdown">
        <ion-list>
          <ion-item>
            <ion-select placeholder="Payment Method" style="width: 100%;">
              <ion-select-option value="apples">Cash</ion-select-option>
              <ion-select-option value="oranges">Debit Card</ion-select-option>
              <ion-select-option value="bananas">Credit Card</ion-select-option>
              <ion-select-option value="bananas">NetBanking</ion-select-option>
              <ion-select-option value="bananas">UPI</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </div>
        <div class="checkbox">
          <ion-item style="padding: 0;">
            <ion-checkbox slot="start" style="margin: 0; padding: 0;"></ion-checkbox>
            <ion-label style="margin: 0;">Pay 50% before the service</ion-label>
          </ion-item>
      </div>

      <div class="btn">
        <ion-button fill="none" (click)="popupOpen()">Continue</ion-button>
      </div>
    </div>
</div>
</div>
</ng-template>
</ion-modal>

<!-- <div class="popup">
  <div class="section-1"(click)="displaySection2()">
    <div class="header"><h1>Payment</h1></div>
    <div class="info">
      <div class="from">Ludhiana Railway Statation</div>
      <p>To</p>
      <div class="to">Ludhiana Elante mall</div>
    </div>
    <div class="coupon">
      <h2>Coupon</h2>
      <input type="text" placeholder="Eg Taxi2022">
    </div>
    
    <div class="fare">
      <h4>Fare</h4>
      <div class="details">
        <div class="taxi-fare">
          <p>Taxi Fare</p>
          <p class="price">₹2200</p>
        </div>
        <div class="tax">
          <p>Tax</p>
          <p class="price">₹20</p>
        </div>
        <div class="discount">
          <p>Coupon Discount</p>
          <p class="price">-₹1200</p>
        </div>
        <div class="totalfare">
          <p>Total Fare</p>
          <p class="price">₹1200</p>
        </div>
      </div>
    </div>
    
  </div>
  <div class="section-2" *ngIf="section2">
      <div class="tax-details">See Tax Details</div>

      <div class="pay">
        <h3>Pay By</h3>
        <div class="dropdown">
          <ion-list>
            <ion-item>
              <ion-select placeholder="Payment Method" style="width: 100%;">
                <ion-select-option value="apples">Cash</ion-select-option>
                <ion-select-option value="oranges">Debit Card</ion-select-option>
                <ion-select-option value="bananas">Credit Card</ion-select-option>
                <ion-select-option value="bananas">NetBanking</ion-select-option>
                <ion-select-option value="bananas">UPI</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </div>
          <div class="checkbox">
            <ion-item style="padding: 0;">
              <ion-checkbox slot="start" style="margin: 0; padding: 0;"></ion-checkbox>
              <ion-label style="margin: 0;">Pay 50% before the service</ion-label>
            </ion-item>
        </div>

        <div class="btn">
          <ion-button fill="none" routerLink="/payment/booked">Continue</ion-button>
        </div>
      </div>
  </div>
</div> -->