<div id="container">
  <div id="main">
    <h1 class="uk-card uk-card-default uk-card-body uk-animation-slide-top">India Tours & Cabs</h1>
    <div class="services_list">
      
      <ul>
        <li class="uk-card uk-card-default uk-card-body uk-animation-slide-left-medium">Book Daily Ideas</li>
        <li class="uk-card uk-card-default uk-card-body uk-animation-slide-left-medium">Get Outstation Services</li>
        <li class="uk-card uk-card-default uk-card-body uk-animation-slide-left-medium">Rent a self drive vehicle</li>
        <li class="uk-card uk-card-default uk-card-body uk-animation-slide-left-medium">Rent with a driver</li> 
        <li class="uk-card uk-card-default uk-card-body uk-animation-slide-left-medium">Book a tour package</li>
      </ul>

    </div>
    <div class="btn">
      <ion-button fill="none" routerLink="/home-main" class="uk-card uk-card-default uk-card-body uk-animation-fade">GET STARTED</ion-button>

    </div>
  </div>
</div>