* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

#container {
  // background: url("../../assets/img/get-started.png");
  height: 100%;
  // width: 100vw;

  // position: relative;
  // img {
  //   width: 100%;
  //   position: absolute;
  // }

  // #main {
  //   text-align: center;
  //   color: white;
  //   position: absolute;
  //   // z-index: 10;

  //   h1 {
  //     font-family: "Helvetica";
  //     font-style: normal;
  //     font-weight: 700;
  //     color: aqua;
  //   }
  // }
}
