<div>
  <div id="container">
    <div id="header">
      <div class="header_top">
        <img src="../../assets/icon/x carré out.svg" alt="caret">
        <img src="../../assets/icon/pencil.svg" alt="edit">
      </div>
      <div class="header_bottom">
        <img src="../../assets/icon/cfl.svg" class="camel" alt="camel">
        <div class="user_div">
          <div class="user_inner_div_1">
            <!-- <div class="user_inner_div_2"> -->
            <!-- <div class="user_inner_div_3">
              <div class="img"> -->
            <img src="../../assets/userProfileImg.png" class="user" alt="user">
            <!-- </div>
            </div> -->
            <!-- </div> -->
          </div>
        </div>
        <img src="../../assets/icon/cfr.svg" class="camel" alt="camel">
      </div>
    </div>
    <div id="form">
      <form>
        <ion-input class="custom" placeholder="Full Name"></ion-input>
        <ion-textarea class="custom address" placeholder="Address"></ion-textarea>
        <ion-input class="custom" placeholder="Landmark"></ion-input>
        <ion-input class="custom" placeholder="Pin code"></ion-input>
        <ion-input class="custom" placeholder="Phone Number"></ion-input>
        <ion-input class="custom" placeholder="Alternative Phone Number"></ion-input>
        <ion-button fill="none">SAVE DATA</ion-button>
      </form>
    </div>
  </div>
</div>