<div class="main-container">
  <div class="header">
    <div class="left">
    <img src="assets/img/LeftLogo.svg">
    </div>
    
    <div class="center">
      <img src="assets/img/CenterLogo.svg">
    </div>
    
    <div class="right">
      <img src="assets/img/RightLogo.svg">
    </div>
  </div>

  <div class="footer">
      <form [formGroup]="loginForm">
        <thead>
          <h1>Enter 4 Digits Code</h1>
        </thead>
        <div>
          <p>Enter 4 Digits Code that you received on your email</p>
        </div>

        <tbody>
          <ion-item>
            <ion-input type="email" formControlName="email" class="custom" maxlength="1"></ion-input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <ion-input type="email" formControlName="email" class="custom" maxlength="1"></ion-input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <ion-input type="email" formControlName="email" class="custom" maxlength="1"></ion-input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <ion-input type="email" formControlName="email" class="custom" maxlength="1"></ion-input>
          </ion-item>
  
        </tbody>
      
      </form>
      <div class="forget">
        <p>Didn't get a code?</p>
        <p style="color: orange;text-decoration: underline;">Resend code</p>
      </div>

      <div class="btn">
        <ion-button fill="none" (click)="submit()" routerLink="/registration/otp" routerLink="/registration/reset">Continue</ion-button>
      </div>
  </div>
</div>
