<div class="">
    <div>
        <img src="https://media.easemytrip.com/media/Blog/India/637294656792564411/637294656792564411Sv2FAa.png"
            class="card-img-top " alt="Themesberg office">
    </div>
    <div class="px-3 my-4">
        <div class="Lato600 fs-18">We partnered up with Google</div>
        <div class="Lato500 fs-13 t-grey">October 9th, 2022</div>
        <p class="card-text Lato500 fs-15 mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent auctor,
            ante
            vel luctus ultricies, magna tellus ornare enim, nec vulputate ante magna et nunc. Aenean vehicula augue
            orci, eu
            hendrerit nunc hendrerit vitae. Curabitur sollicitudin nulla ac urna elementum, eu euismod nisi imperdiet.
            Proin
            quis tincidunt eros, venenatis bibendum metus. Suspendisse potenti. Quisque ultrices rhoncus tristique.
            Integer
            eget velit ut tellus facilisis blandit.
            Integer pharetra eleifend libero, vel blandit justo placerat non. Vestibulum sit amet dapibus ligula, at
            elementum tellus. Mauris pellentesque libero ut varius congue. Pellentesque malesuada viverra tempus. Donec
            facilisis urna nunc. Quisque iaculis sapien eu mi tempus aliquet. Etiam varius et ante mattis tincidunt.
            Suspendisse et tincidunt leo. Donec sit amet aliquet nulla.
            Mauris lacinia leo dolor, non lobortis nisi imperdiet sed. Etiam nisl metus, facilisis dapibus metus ac,
            facilisis blandit nulla. Sed pharetra ut metus eu sodales. Vivamus in pretium eros. Ut in volutpat sapien,
            id
            condimentum ante. Proin vel massa bibendum, finibus metus eu, porttitor felis. Vivamus laoreet volutpat
            porttitor. Duis ultricies erat et facilisis tempus. Praesent tempus gravida elit, ut suscipit tortor
            pellentesque sed. Integer hendrerit, purus viverra facilisis lacinia, quam diam vestibulum ante, id cursus
            leo
            diam vel magna.
            Maecenas purus odio, feugiat sit amet leo vitae, imperdiet gravida risus. Sed felis quam, congue id metus
            sit
            amet, posuere dictum quam. Sed scelerisque ligula ac erat sollicitudin eleifend. Suspendisse ut dolor ante.
            Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi id erat nec diam sodales ultricies.
            Morbi in
            ipsum convallis, feugiat diam id, feugiat est..
        </p>
    </div>


</div>