<div class="main-container">
  <div class="heading">
    <h1>Booked!</h1>
  </div>

  <div class="bio">
    <p>Your <b style="color: orange; font-size: 20px;">Swift Dzire</b> is on its way to you! <br>You can track it here.</p>
  </div>

  <div class="map">
    <img src="assets/img/center-map.png" alt="">
  </div>

  <div class="time">
    <ion-icon name="time"></ion-icon>
    <ion-label> 15min away</ion-label>
  </div>

  <div class="driver">
    <div class="img"><img src="assets/img/driver.png" alt=""></div>
    <div class="biodata">
      <p id="name">Mahender Kumar</p>
      <p id="bio-data">will be your driver today</p>
      <p id="number">Contact-8745693214</p>
    </div>
  </div>

  <div class="btn">
    <ion-button fill="none" routerLink="/home">Go to HomePage</ion-button>
  </div>
</div>